<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true"
         verbose="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="remix">
            <directory>tests/Remix</directory>
        </testsuite>
        <testsuite name="utility">
            <directory>tests/Utility</directory>
        </testsuite>
        <testsuite name="demo">
            <directory>demo/app/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
